<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--==========Default Header Menu Area =================-->
<nav th:fragment="default-nav">
  <div class="row">
    <div class="col-12 bg-dark">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <input class="mt-1"/>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Cautare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Descriere</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</html>
