<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
<div th:fragment="user_announcement_details" class="container">
  <div
    th:if="${announcementUpdated}"
    class="alert alert-success alert-dismissible fade show text-center mt-3"
    role="alert"
  >
    Anunțul a fost actualizat cu succes.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    th:if="${updateError}"
    class="alert alert-danger alert-dismissible fade show text-center mt-3"
    role="alert"
  >
    A apărut o eroare la actualizarea anunțului. Încearcă mai târziu.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    class="mt-3 mb-3"
    enctype="multipart/form-data"
    action="/user/announcement/update"
    method="post"
  >
    <div class="my-3">
      <a href="/user/announcements">
        <button
          type="button"
          class="btn btn-light btn-lg w-100"
        >
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg>
          Înapoi la anunțurile mele
        </button>
      </a>
    </div>
    <input type="hidden" th:value="${announcement.id}" name="announcementId">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <input
          id="announcementImageInput"
          hidden
          type="file"
          accept="image/png, image/jpeg"
          name="announcementImage"/>
        <div class="card text-center">
          <div class="card-body text-primary">
            <img
              id="announcementImage"
              width="100%"
              alt="imagine anunț"
            />
          </div>
          <div class="card-footer">
            <label for="announcementImageInput" class="btn btn btn-light mt-2 text-main">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd"
                      d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
              </svg>
            </label>
            <button id="announcementImageDelete" type="button" class="btn btn btn-light text-danger"
                    th:hidden="${announcement.image} eq null">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path fill-rule="evenodd"
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="mt-3">
            <div>
              Adăugat pe
              <span class="font-weight-bold"
                    th:text="${#dates.format(announcement.publicationDate, 'dd.MM.yyyy HH:mm')}"></span>
            </div>
            <div>
              Vizualizări:
              <span class="font-weight-bold" th:text="${announcement.views}"></span>
            </div>
          </div>
          <div th:if="${announcement.isVisible}" class="mt-3">
            <a th:href="'/user/announcement/hide/' + ${announcement.id}">
              <button
                type="button"
                class="btn btn-outline-danger btn-lg"
                data-toggle="tooltip"
                data-placement="left"
                title="Ascunde anunțul"
              >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-slash-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                  <path
                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
                  <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                </svg>
              </button>
            </a>
          </div>
          <div th:if="${!announcement.isVisible}" class="mt-3">
            <a th:href="'/user/announcement/show/' + ${announcement.id}">
              <button
                type="button"
                class="btn btn-outline-main btn-lg"
                data-toggle="tooltip"
                data-placement="left"
                title="Afișează anunțul"
              >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path fill-rule="evenodd"
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="category">Categorie</label>
        <select
          id="category"
          class="form-control mb-2"
          name="categoryId"
        >
          <option
            th:each="category : ${categories}"
            th:value="${category.id}"
            th:selected="${category.id} eq ${announcement.category.id}"
          >
            <span th:text="${category.name}"></span>
          </option>
        </select>
        <label for="title">Titlu</label>
        <input
          type="text"
          id="title"
          class="form-control mb-2"
          placeholder="Titlu"
          name="title"
          th:value="${announcement.title}"
          required
        >
        <label for="shortDescription">Descriere scurtă</label>
        <input
          type="text"
          id="shortDescription"
          class="form-control mb-2"
          placeholder="Descriere scurtă"
          name="shortDescription"
          th:value="${announcement.shortDescription}"
          required
        >
        <label for="longDescription">Descriere lungă</label>
        <textarea
          id="longDescription"
          class="form-control mb-2"
          placeholder="Descriere lungă"
          name="longDescription"
          th:field="${announcement.longDescription}"
          rows="3"
          required
        ></textarea>
        <div class="row">
          <div class="col">
            <label for="price">Preț</label>
            <input
              type="number"
              id="price"
              class="form-control mb-2"
              placeholder="Preț"
              name="price"
              th:value="${announcement.price}"
              min="0"
              step="0.01"
              required
            >
          </div>
          <div class="col">
            <label for="currency">Valută</label>
            <select
              id="currency"
              class="form-control mb-3"
              name="currencyId"
            >
              <option
                th:each="currency : ${currencies}"
                th:value="${currency.id}"
                th:selected="${currency.id} eq ${announcement.currency.id}"
              >
                <span th:text="${currency.acronym}"></span>
              </option>
            </select>
          </div>
        </div>
        <button class="btn btn-lg btn-main btn-block mt-3" type="submit">Salvează</button>
      </div>
    </div>
  </form>
  <div class="row justify-content-end">
    <div class="col col-md-6">
      <button
        type="button"
        id="deleteAnnouncementModal-btn"
        class="btn btn-lg btn-danger btn-block mb-5"
        data-toggle="modal"
        data-target="#deleteAnnouncementModal"
        th:attr="data-id=${announcement.id}, data-title=${announcement.title}"
      >
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg>
      </button>
    </div>
  </div>
  <!-- Delete announcement modal -->
  <div
    class="modal fade"
    id="deleteAnnouncementModal"
    tabindex="-1"
    aria-labelledby="deleteAnnouncementModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAnnouncementModalLabel">Șterge anunțul?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <form action="/user/announcement/delete" method="post">
            <input type="hidden" name="announcementId" id="announcementId">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anulează</button>
            <button type="submit" class="btn btn-danger">Șterge</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
      /*<![CDATA[*/

      const image = /*[[${announcement.image}]]*/ 'default';
      const id = /*[[${announcement.id}]]*/ 'default';
      image
          ? $('#announcementImage').attr('src', '/user/announcement/image/' + id)
          : $('#announcementImage').attr('src', '/img/logo_transparent.png');

      /*]]>*/

      function readURL(input) {
          if (input.files && input.files[0]) {
              let reader = new FileReader();
              reader.onload = function (e) {
                  $('#announcementImage').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
              $('#announcementImageDelete').removeAttr('hidden');
          }
      }

      $("#announcementImageInput").change(function () {
          readURL(this);
      });

      $("#announcementImageDelete").click(function () {
          $("#announcementImage").attr('src', '/img/logo_transparent.png');
          $("#announcementImageInput").val(null);
          $('#announcementImageDelete').attr('hidden', true);
      });

      $(document).on('click', '#deleteAnnouncementModal-btn', function () {
          const announcementId = $(this).data('id');
          const announcementTitle = $(this).data('title');
          $('#announcementId').val(announcementId);
          $('#deleteAnnouncementModalLabel').text('Șterge anunțul? (' + announcementTitle + ')');
      });

      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>
</div>
</html>