:root {
  --main-color: #40A798;
  --main-color-dark: #378d80;
  --light-gray: rgba(0, 0, 0, .125);
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background: var(--main-color);
}

.btn-main {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-main:hover {
  color: #fff;
  background: var(--main-color-dark);
}

.btn-outline-main {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-outline-main:hover {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

/* Overwrite list active item */
.list-group-item.active {
  background-color: var(--main-color);
  border-color: var(--light-gray);
}

/* Overwrite default input focus border color */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
.uneditable-input:focus,
.form-control:focus {
  border-color: var(--light-gray);
  box-shadow: 0 0 0 0.1rem var(--light-gray);
  outline: 0 none;
}

.form-authentication {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-create-account {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.form-authentication .form-control,
.form-create-account .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.opacity-reduced {
  opacity: 0.5;
}
