<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<header th:replace="~{fragments/header :: header}"></header>
<main th:if="${announcementsFragment}">
  <div th:replace="~{fragments/announcements :: announcements}"></div>
</main>
<main th:if="${createAccountFragment}">
  <div th:replace="~{fragments/create_account :: create_account}"></div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
