<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{commons/head :: head}"> </head>

  <body>
    <!--================Header Area =================-->
    <header th:replace="~{commons/header :: default-header}"></header>
    <!--================End Header Area =================-->

    <!--================Nav-bar Area =================-->
    <nav th:replace="~{commons/nav-bar :: default-nav}"></nav>
    <!--================End Nav-bar Area =================-->

    <!--================ Begin Body Area =================-->
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-10">
      </div>
    </div>
    <!--================End Body Area=================-->

    <!--================Footer Area =================-->
    <footer th:replace="~{commons/footer :: footer}"></footer>
    <!--================End Footer Area =================-->
  </body>
</html>
