<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/head :: head}"></head>
<body class="bg-light">
<div th:if="${loginFragment ne true}">
  <header th:replace="~{fragments/header :: header}"></header>
</div>
<main th:if="${loginFragment}">
  <div th:replace="~{fragments/login :: login}"></div>
</main>
<main th:if="${errorFragment}">
  <div th:replace="~{fragments/error :: error}"></div>
</main>
<main th:if="${error404Fragment}">
  <div th:replace="~{fragments/error_404 :: error_404}"></div>
</main>
<main th:if="${homeFragment}">
  <div th:replace="~{fragments/home :: home}"></div>
</main>
<main th:if="${createAccountFragment}">
  <div th:replace="~{fragments/create_account :: create_account}"></div>
</main>
<main th:if="${userAccountFragment}">
  <div th:replace="~{fragments/user_account :: user_account}"></div>
</main>
<main th:if="${userAnnouncements}">
  <div th:replace="~{fragments/user_announcements :: user_announcements}"></div>
</main>
<main th:if="${userAnnouncementDetails}">
  <div th:replace="~{fragments/user_announcement_details :: user_announcement_details}"></div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
